<% include partials/header %>

<body>

    <main class="content">

        <section class='hero' id='monster'>
            <article class='heroMain'>
                <a href="/music/feature">
                    <img class='' src="../Media/tkay_maidza8.jpg"
                        alt="James Cameron and James Rodrieguez's Alita Battle Angel">
                </a>
                <aside class='mainHeading'>
                    <h2>Inside the wonderful, wavy mind of Australia's hip-hop princess Tkay Maidza</h2>
                </aside>
            </article>
        </section>

        <section class='sectionContainer'>
            <div>
                <h2 class='sectionHeading'>- For The <span>Culture</span> -</h2>
                <h5 class='sectionTag'>All The News, inc. Phil Ade's advice on balling on a budget and Misty Copeland's
                    love of memes.</h5>
            </div>

            <div class='heroSecond hideme'>

                <% ftcArticles.slice(-4).forEach(function(storyItem){ %>
                <article class='heroMiniFeat'>
                    <a href="/articles/<%= storyItem._id %>">
                        <img src="<%= storyItem.image.heroImage.imagePath %>" alt="">
                    </a>
                    <aside class='miniHeading'>
                        <h2><%= storyItem.title %></h2>
                        <p>By <span><%= storyItem['author'] %></span></p>
                        <p><%= storyItem.created %></p>
                    </aside>
                </article>
                <% }); %>

            </div>


            <div class='viewMoreButton'>
                <p><a href="#">View More</a></p>
            </div>
        </section>

        <section class='hero' id='monster'>
            <article class='heroMain'>
                <aside class='mainHeading'>
                    <h2>Odell Beckham Jr moves to the Cleveland Browns from the NY Giants, the stars align and suddenly
                        everything makes sense</h2>
                    <p>By <span>iLoveTheDrama</span></p>
                </aside>
                <a href="#">
                    <img src="../Media/odell beckham jr.jpg" alt="Odell Beckham Jr speaks to press">
                </a>
            </article>

        </section>
        <section class='sectionContainer'>
            <div>
                <h2 class='sectionHeading'>- The <span>Courts</span> -</h2>
                <h5 class='sectionTag'>The round up of the Sport News from Track, Field, Court and the Locker room.</h5>
            </div>


            <div class='heroSecond hideme'>

                <% ftcArticles.slice(-4).forEach(function(storyItem){ %>
                <article class='heroMiniFeat'>
                    <a href="/articles/<%= storyItem._id %>">
                        <img src="<%= storyItem.image.heroImage.imagePath %>" alt="">
                    </a>
                    <aside class='miniHeading'>
                        <h2><%= storyItem.title %></h2>
                        <p>By <span><%= storyItem['author'] %></span></p>
                        <p><%= storyItem.created %></p>
                    </aside>
                </article>
                <% }); %>

            </div>

            <div class='viewMoreButton'>
                <p><a href="/articles/">View More</a></p>
            </div>

        </section>

        <section class='hero' id='monster'>
            <article class='heroMain'>
                <a href="#">
                    <img src="../Media/ozwald_boateng3.jpg"
                        alt="James Cameron and James Rodrieguez's Alita Battle Angel">
                </a>
                <aside class='mainHeading'>
                    <h2>Ozwald Boateng, David Frere and more debut long-awaited SS19 collections </h2>
                    <p>By <span>iLoveTheDrama</span></p>
                </aside>
            </article>
        </section>
        <section class='sectionContainer'>
            <div>
                <h2 class='sectionHeading'>- <span>Fresh</span> Cuts -</h2>
                <h5 class='sectionTag'>The Freshest music cuts, Garmz, Film previews and sneek peaks you haven't seen
                    yet.</h5>
            </div>

            <div class='heroSecond hideme'>
                <article class='heroMiniFeat'>
                    <a href="#">
                        <img src="../Media/pat mcgrath 5.jpg" alt="">
                    </a>
                    <aside class='miniHeading'>
                        <h2>Stay patterned hollywood stylie with Pat McGrath's new lip range</h2>
                        <p>By <span>iLoveTheDrama</span></p>
                    </aside>
                </article>
                <article class='heroMiniFeat'>
                    <a href="#">
                        <img src="../Media/bevel.jpg" alt="">
                    </a>
                    <aside class='miniHeading'>
                        <h2>Bevel hits the shores of Ol' Blighty as the grooming collection becomes avaliable in the UK
                        </h2>
                        <p>By <span>iLoveTheDrama</span></p>
                    </aside>
                </article>
                <article class='heroMiniFeat'>
                    <a href="#">
                        <img src="../Media/sammy and johnny bennett2.jpg" alt="" class='bumpImgDown'>
                    </a>
                    <aside class='miniHeading'>
                        <h2>The Swedish brothers flying the flag for Scandinavian grime</h2>
                        <p>By <span>iLoveTheDrama</span></p>
                    </aside>
                </article>
                <article class='heroMiniFeat'>
                    <a href="#">
                        <img src="../Media/captain marvel.jpg" alt="">
                    </a>
                    <aside class='miniHeading'>
                        <h2>The Kree-Skrull Galactic War sears in Marvel's spectacular Captain Marvel</h2>
                        <p>By <span>iLoveTheDrama</span></p>
                    </aside>
                </article>
            </div>
            <div class='viewMoreButton'>
                <p><a href="#">View More</a></p>
            </div>
        </section>

        <section class='hero' id='monster'>

            <article class='heroMain'>
                <aside class='mainHeading'>
                    <h2>Before 'Lemonade', Lupita and something else beginning with L, was Hollywood Icon, Dorothy
                        Dandridge</h2>
                    <p>By <span>iLoveTheDrama</span></p>
                </aside>
                <a href="#">
                    <img class='bumpImgUp' src="../Media/dorothy dandrige3.jpg"
                        alt="James Cameron and James Rodrieguez's Alita Battle Angel">
                </a>
            </article>
        </section>

        <section class='sectionContainer'>
            <div>
                <h2 class='sectionHeading'>- <span>The</span> Classics -</h2>
                <h5 class='sectionTag'>Paying homage to the ones that paved the way, from John Coltrane's Blue Note to a
                    memoriam for Sugar Puffs.</h5>
            </div>

            <div class='heroSecond hideme'>
                <article class='heroMiniFeat'>
                    <a href="#">
                        <img src="../Media/fats waller.jpg" class='bumpImgDown' alt="">
                    </a>
                    <aside class='miniHeading'>
                        <h2>Fats Waller : A portrait of the Jazz Pianist and entertainer who lives on</h2>
                        <p>By <span>iLoveTheDrama</span></p>
                    </aside>
                </article>
                <article class='heroMiniFeat'>
                    <a href="#">
                        <img src="../Media/bernie mac.jpg" alt="">
                    </a>
                    <aside class='miniHeading'>
                        <h2>America's uncle Bernie Mac</h2>
                        <p>By <span>iLoveTheDrama</span></p>
                    </aside>
                </article>
                <article class='heroMiniFeat'>
                    <a href="#">
                        <img src="../Media/Ellen Johnson Sirleaf.jpg" alt="">
                    </a>
                    <aside class='miniHeading'>
                        <h2>Paying homage to Africa's first female head of state, Liberia's Ellen Johnson Sirleaf</h2>
                        <p>By <span>iLoveTheDrama</span></p>
                    </aside>
                </article>
                <article class='heroMiniFeat'>
                    <a href="#">
                        <img src="../Media/wiley2.jpg" class='' alt="">
                    </a>
                    <aside class='miniHeading'>
                        <h2>Wiley's legendary third studio album Playtime is Over turns 12 this year</h2>
                        <p>By <span>iLoveTheDrama</span></p>
                    </aside>
                </article>
            </div>
            <div class='viewMoreButton'>
                <p><a href="#">View More</a></p>
            </div>
        </section>


    </main>


    <% include partials/footer %>