<% include partials/header %>
<main class="pgKingContainer">
    <article class="" id="monster">
        <div class="headerImg">
            <img src="<%= showArticle.image.heroImage.imagePath %>"
                alt="Tkay Maidza crowd surfs at a lit Aussie show" />
        </div>
        <div class="scrollTitle ftTitle" id="scrollTitle">
            <h1>
                <%= showArticle.title %>
            </h1>
        </div>
        <div class="ftrWordBox">
            <article class="ftrWord">
                <aside class="ftTitle">
                    <h1>
                        <%= showArticle.articleSlug %>
                    </h1>
                </aside>
                <div><%= showArticle.topic %></div>
                <p>
                    kickstarter you probably haven't heard of
                    them biodiesel, unicorn single-origin coffee echo park brooklyn man
                    bun aesthetic messenger bag yr brunch sustainable tousled. Yuccie
                    irony edison bulb slow-carb banjo, activated charcoal scenester.
                    Tacos meggings edison bulb schlitz hammock skateboard try-hard 8-bit
                    gastropub keytar semiotics. Taiyaki mumblecore everyday carry YOLO
                    drinking vinegar shabby chic knausgaard VHS tousled PBR&B you
                    probably haven't heard of them migas ramps chillwave lumbersexual.
                </p>
                <p>
                    Sartorial af trust fund bicycle rights ugh small batch asymmetrical
                    kale chips blog chillwave. Swag heirloom mumblecore, bushwick
                    everyday carry helvetica tumblr iceland poke selfies ennui pork
                    belly austin. Enamel pin quinoa PBR&B, hashtag cronut butcher fanny
                    pack cray mumblecore pok pok. Cred fixie pour-over vexillologist
                    typewriter. Intelligentsia celiac sriracha yr, chambray irony
                    bushwick hoodie swag retro williamsburg pitchfork.
                </p>
                <img src="<%= showArticle.image.leftSmallIntroImage.imagePath %>" alt="" class=" ftImgMd" />
                <p>
                    Kinfolk offal vice franzen asymmetrical intelligentsia tattooed
                    narwhal semiotics readymade ethical skateboard. Stumptown
                    gluten-free pop-up tumblr, single-origin coffee hammock disrupt
                    iPhone tofu tbh freegan brunch. Vegan tumblr fanny pack vinyl echo
                    park la croix church-key slow-carb fingerstache umami kombucha
                    pop-up iPhone. Sartorial tumeric pork belly post-ironic crucifix,
                    dreamcatcher unicorn seitan synth man braid.
                </p>
                <p>
                    Literally post-ironic chambray kitsch. Salvia vinyl mumblecore
                    hoodie. Jianbing pinterest intelligentsia cronut freegan, church-key
                    four dollar toast ethical venmo man bun. La croix cronut mixtape
                    prism, hella you probably haven't heard of them direct trade vinyl
                    church-key lumbersexual tacos. Deep v aesthetic cred sartorial.
                </p>
                <img src="<%= showArticle.image.rightMedIntroImage.imagePath %>" alt="" class=" ftImgMd" />
            </article>
            <div class="ftImg ftImgLg ">
                <img src="<%= showArticle.image.topTextImage.imagePath %>" alt="" />
            </div>
            <div class="ftImg ftImgSm ">
                <img src="<%= showArticle.image.bottomTextImage.imagePath %>" alt="" />
            </div>
    </article>
</main>
<!-- 
      <article class="pgContent" id="monster">
    
     


     
    </article>
</main> -->


<% include partials/footer %>